.css-1n543e5.edgvbvh10{
    width: 100%;
    margin-top: 40px;
}

.css-10trblm.e16nr0p30{
    text-align: center;
}

.css-1v0mbdj.etr89bj1{
    width: 400px;
    height: 400px;
    margin-left: 200px;
}